@model DevBooks.Web.ViewModels.BooksListViewModel
@using DevBooks.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All Books";
}

@section styles {
    <style>
        .book-row {
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }
    </style>
}

@section scripts {
    <script>
        $(function () {

            var ViewModel = function () {

                this.books = ko.observableArray(@Html.Raw(Model.BooksJSON));


               @if (User.IsInRole("Admin") || User.IsInRole("Manager")) //CanDelete
               {
<text>
                this.currentBook = {};

                this.errorMessage = ko.observable();

                this.showError = function (error) {
                    $('#error-container').fadeIn();
                };

                this.requestDelConfirm = function (book) {
                    vm.currentBook = book;
                    console.log("requestDelConfirm Activated!");
                    $('#del-confirm').modal();
                };

                this.del = function () {
                    var book = ko.toJS(vm.currentBook);

                    booksDataService.del(book).done(function (response) {
                        vm.books.remove(function (item) {
                            return item.id === book.id;
                        });
                    }).fail(function (error) {
                        vm.showError(error);
                    }).always(function () {
                        $('#del-confirm').modal('hide');
                    });
                };
                </text>
}
            };

            var vm = new ViewModel();

            _.each(vm.books(), function (book) {
                book.priceFormatted = ko.computed(function () {
                    return _.numberWithCommas(book.price);
                });

                book.imageUrl = ko.computed(function () {
                    var
                        imgName = book.imageName,
                        fileName = (imgName == null) ? 'no-image.png' : imgName,
                        url = '@Model.ImageUrlPrefix' + fileName;

                    return url;
                });
            });

            ko.applyBindings(vm);
        });
    </script>
}

@*<h1>Top Books</h1>*@

@if (User.IsInRole("Admin") || User.IsInRole("Manager")) //CanDelete
{
    <div id="error-container" class="none">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Oops..</h4>
            <p>Something went wrong. Here's the error message:</p>
            <p data-bind="text: errorMessage"></p>
        </div>
    </div>
}
<div id="list-container">
    <div data-bind="template: { name: 'list-template', foreach: books }"></div>
</div>

<script type="text/html" id="list-template">
    <div class="container-fluid">
        <div class="row book-row">
            <div class="col-md-3">
                <img data-bind="attr: {src: imageUrl}" class="img-responsive img-thumbnail" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h4 data-bind="text: title"></h4>
                        <span class="text-muted">by </span>
                        <span data-bind="text: author" class="text-muted"></span><br />
                        <!-- ko if: $data.publisher -->
                        <span data-bind="text: publisher" class="text-muted"></span><br /><br />
                        <!-- /ko -->
                        <h4 data-bind="text: priceFormatted"></h4>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p data-bind="text: description"></p>
                    </div>
                </div>
                <div class="row" style="margin-left:0px">
                   @if (User.IsInRole("Admin") || User.IsInRole("Manager")) //CanDelete
                   {
                        <a href="#" class="btn btn-sm btn-danger"
                           data-bind="click: $parent.requestDelConfirm">Delete</a>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("User")) //CanEdit
                    {
                        <a class="btn btn-primary btn-sm"
                           data-bind="attr: {href: '/books/edit/' + id}">Edit</a>
                    }
                </div>
            </div>
        </div>
    </div>
</script>

@if (User.IsInRole("Admin") || User.IsInRole("Manager")) //CanDelete
{
    <div id="del-confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="del-confirm-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        ×
                    </button>
                    <h3 id="del-confirm-label">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this book?</p>
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="alert alert-error push-down">
                            <strong>Note:</strong>
                            There is no undo for this action.
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-danger" data-bind="click: del">Delete Book</button>
                </div>
            </div>
        </div>
    </div>
}